{% extends 'catalog/base.html' %}

{% block title %}Контакты - Skystore{% endblock %}

{% block content %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Контакты</h1>
        <p class="lead">Свяжитесь с нами</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h4>Наши контакты</h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><strong>Телефон:</strong> +7 (999) 123-45-67</li>
                        <li><strong>Email:</strong> info@skystore.ru</li>
                        <li><strong>Адрес:</strong> г. Москва, ул. Примерная, д. 123</li>
                        <li><strong>Режим работы:</strong> Пн-Пт: 9:00-18:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}